<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Dj:</strong>
  <%= @track.dj %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @track.duration %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
